.card-body {
    width: 6rem;
    height: 6rem;
    margin: 0.5rem;
    border-radius: 0.3em;
    background-image: var(--gradient);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.card-body.descubierta {
    transform: rotateY(-180deg);
  }